<div class="container text-center mt-2">
    <form action="/nuevapregunta" method="POST">
        <input type="submit" value="nueva juego" class="btn btn-primary">
    </form>
</div>
<div class="container-fluid">
<div class="row">
         {{#each juegos}}
              <div class="col-md-2 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-between">
                                {{nombreJuego}} <a href="/games/editar/{{id}}" ><i class="fas fa-edit"></i></a>
                            </h4>
                            <p>{{fechaCreacion}}</p>
                            <div class="d-grid gap-1 mt-3">
                                <form action="/borrarJuego" method="POST"><!--pruebo pasar el metodo delete para borrar-->
                                    <input type="hidden" name="id" value="{{id}}"><!--input oculto para donde envia la peticion delete-->
                                    <button  class="btn btn-danger btn-block btn-sm" type="submit">Borrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
             {{else}}
                    <div class="col-md-4 mx-auto mt-3">
                        <div class="card">
                                <div class="card-body">
                                    <div class="card-header text-center">NO HAY JUEGOS AUN</div>                            
                                </div>
                        </div>
                    </div>   
              {{/each}} 
  </div>

