<div class="col-md-4 mx-auto mt-2">
    <div class="card">
        <div class="card-header"> Escriba la Pregunta y sus Respuestas</div>
        <card class="card-body">
            {{#if numeroPregunta}}
                <h3 class="text-center">Pregunta N° {{numeroPregunta}}</h3>
            {{else}}
                <h3 class="text-center">Pregunta N° 1</h3>
            {{/if}}
            <form action="/preguntas" method="POST">
                <div class="form-group">
                    <input type="text" name="pregunta" class="form-control" placeholder="Pregunta" autofocus>
                </div>
                <div class="form-group mt-2">
                    <input type="text" name="res1" class="form-control" placeholder="Respuesta 1 (Correcta)">
                </div>
                <div class="form-group mt-2">
                    <input type="text" name="res2" class="form-control" placeholder="Respuesta 2">
                </div>
                <div class="form-group mt-2">
                    <input type="text" name="res3" class="form-control" placeholder="Respuesta 3">
                </div>
                <div class="form-group mt-2">
                    <input type="text" name="res4" class="form-control" placeholder="Respuesta 4">
                </div>
                <div class="form-group mt-1">
                    <input type="text" name="pista1" class="form-control" placeholder="Pista 1">
                </div>
                <div class="form-group mt-1">
                    <input type="text" name="pista2" class="form-control" placeholder="Pista 2">
                </div>
                

                <input type="hidden" name="inicial" value="{{inicial}}">
                <input type="hidden" name="numeroPregunta" value="{{numeroPregunta}}">
            <div class="d-grid gap-1 mt-3">
                {{#if dificultad}}
                    <input type="text" class="form-control" placeholder="Nivel de Dificultad: {{dificultad}}" disabled="disabled" style="background-color: #031fbe;">
                {{else}}
                    <input type="text" class="form-control" placeholder="Nivel de Dificultad: 1" disabled="disabled" style="background-color: #031fbe;">
                {{/if}}
            </div>

            <div class="d-grid gap-1 mt-2">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <input type="submit" class="btn btn-info btn-lg btn-block" name="boton" value="SIGUIENTE"></input>
            
            {{#if habilitado}}
                <input type="submit" class="btn btn-info btn-lg btn-block" name="boton" value="FINALIZAR"></input>
            {{else}}
                <input type="submit" class="btn btn-info btn-lg btn-block" name="boton" value="GUARDAR" disabled="disabled"></input>
            </div>                    
            {{/if}}
            </div>
        </form>
    </card>
</div>
</div>