<nav class="navbar navbar-expand-lg navbar-dark d-flex" style="background-color:lightslategrey;">
  <div class="container">
      <div class="collapse navbar-collapse d-flex" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
                  MENU  
                </a>
             
                <form style="background-color: lightslategrey;"></form>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: lightslategrey; color:white">
                    <li style="text-align:center"><i class="bi bi-person-fill" style="font-size: 150%; background-color:blue"></i></li>
                    <li><a class="dropdown-item" href="#">Nombre Administrador: {{nombre}}</a></li>
                    <li><a class="dropdown-item" href="#">Apellido Administrador: {{apellido}}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <form action="/volver" method="post" style="text-align: center;">
                    <input type="submit"  value="< Volver" class="btn btn-secondary">
                    </form>
                    <li><hr class="dropdown-divider"></li>
                    <form action="/cerrar" method="post" style="text-align: center;">
                      <input type="submit" value="Cerrar Sesion" class="btn btn-danger">
                    </form><!--<input type="submit" value="Cerrar Sesion">-->
                </ul>
            </li>

        </ul>
        
      </div>
      <div class="btn btn-secundary btn-xs">
        <a class="navbar-brand" >Cargas de Preguntas y Respuestas</a>
        
    </div>
  </div>
</nav>


<div class="alert alert-primary text-center" role="alert">
  <h4>Nombre del Juego: {{nombreJuego}}</h4>
</div>

<div class="col-md-4 mx-auto mt-2">
    <div class="card">
            <card class="card-body">
            {{#if numeroPregunta}}
                <h4 class="text-center">Pregunta N° {{numeroPregunta}}  </h4> 
                
            {{else}}
                <h3 class="text-center">Pregunta N° 1</h3>
            {{/if}}
            <form action="/preguntas" method="POST">
                <div class="form-group">
                    <input type="text" required='required' name="pregunta" class="form-control" placeholder="Pregunta"  autofocus>
                </div>
                <div class="form-group mt-1">
                    <input type="text" required='required' name="res1" class="form-control" placeholder="Respuesta 1 (Correcta)">
                </div>
                <div class="form-group mt-1">
                    <input type="text" required='required' name="res2" class="form-control" placeholder="Respuesta 2">
                </div>
                <div class="form-group mt-1">
                    <input type="text" required='required' name="res3" class="form-control" placeholder="Respuesta 3">
                </div>
                <div class="form-group mt-1">
                    <input type="text" required='required' name="res4" class="form-control" placeholder="Respuesta 4">
                </div>
                <div class="form-group mt-1">
                    <input type="text" required='required' name="pista1" class="form-control" placeholder="Pista 1">
                </div>
                <div class="form-group mt-1">
                    <input type="text" required='required' name="pista2" class="form-control" placeholder="Pista 2">
                </div>
                
                {{#if dificultad}}
                    <input type="text" class="form-control" placeholder="Nivel de Dificultad: {{dificultad}}" disabled="disabled" style="background-color: #022553;">
                {{else}}
                    <input type="text" class="form-control" placeholder="Nivel de Dificultad: 1" disabled="disabled" style="background-color: #022553;">
                {{/if}}
                <input type="hidden" name="inicial" value="{{inicial}}">
                <input type="hidden" name="numeroPregunta" value="{{numeroPregunta}}">
            

            
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <input type="submit" class="btn btn-info" name="boton" value="SIGUIENTE"></input> 
                    {{#if habilitado}}
                        {{#if finalizar}}
                                                                         
                        {{else}}    
                                <input type="submit" class="btn btn-warning " name="boton" value="GUARDAR"></input>
                        {{/if}}
         
                    {{/if}}
            </form> 
                   {{#if finalizar}}
                    <form action="/finalizarPreguntas" method="POST">
                            
                                <input type="submit" class="btn btn-success " name="boton" value="FINALIZAR"></input>
                            
                            </form>
                {{/if}}
                
             
             
        </card>
    </div>
</div>