<div class="col-md-4 mx-auto mt-3">
    <div class="card">
        <div class="card-header"> Escriba la Pregunta y sus Respuestas    </div>
        <card class="card-body">
            <form action="/preguntas" method="POST">
                <div class="form-group">
                    <input type="text" name="pregunta" class="form-control" placeholder="Pregunta" autofocus>
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="res1" class="form-control" placeholder="Respuesta 1 (Correcta)">
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="res2" class="form-control" placeholder="Respuesta 2">
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="res3" class="form-control" placeholder="Respuesta 3">
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="res4" class="form-control" placeholder="Respuesta 4">
                </div>
                
                <div class="d-grid gap-1 mt-3">
                    <input type="text" class="form-control" placeholder="Nivel de Dificultad: {{dificultad}}" disabled="disabled" style="background-color: #56f337;">
                </div>

                <div class="d-grid gap-1 mt-3">
                       {{#if success_msg}}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{success_msg}}<!--agrego el texto con el string que setee en el controlador-->
                            <input type="submit" class="btn btn-info btn-lg btn-block">Siguiente</button>
                            </div>
                        {{/if}}
                        
                    </form>
                </div>
                <div class="d-grid gap-1 mt-2">
                    {{#if success_msg}}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{success_msg}}<!--agrego el texto con el string que setee en el controlador-->
                            <input type="submit" class="btn btn-success btn-lg btn-block">Guardar</button>
                            </div>
                        {{else}}
                        <input type="submit" class="btn btn-success btn-lg btn-block" disabled="disabled">Guardar</button>
                    {{/if}}
                </div>
                    
                
            </form>
            <form action="/preguntas" method="POST">
             <input type=" text" name="contador" value="{{numero}}">
             <input type="submit" class="btn btn-success btn-lg btn-block" >ENVIAR</button>
            </form>

        </card>
    </div>
</div>