<nav class="navbar navbar-expand-lg navbar-dark d-flex" style="background-color:lightslategrey;">
  <div class="container">
      <div class="collapse navbar-collapse d-flex" id="navbarNav">
        <ul class="navbar-nav">
        <form action="/volverManual" method="post" style="text-align: center;">
                    <input type="submit"  value="< Volver" class="btn btn-secondary">
                    </form>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/index">Id del juego: {{idJuego}}</a>
          </li>
      </div>
      <div class="btn btn-secundary btn-xs">
        <a class="navbar-brand" >Pantalla Principal de Votacion</a>
        
    </div>
  </div>
</nav>

    
        
  <div class="opciones">
        <form class="container-fluid d-flex" action="/lamagia" method="POST" id="formvotante">
          <div class="form-group mt-2">
            <input type="submit" name="btn1" value="PARTICIPAR" class="btn btn-primary btn-lg mb-2">
          </div>
        </form>
  </div>
  <div class="d-flex flex-row justify-content-center alig-items-center">

    <li>
      <ul>
        {{#if btnpista}}
        <form class="container-fluid d-flex" action="/votoOpcion1" method="POST" id="formvotante">
          <div class="form-group mt-2">
            <input type="submit" name="btn1" value={{valor1}} class="btn btn-danger mb-2">
          </div>
        </form>
      </ul>
      <ul>                
        <form class="container-fluid d-flex" action="/votoOpcion2" method="POST" id="formvotante">        
          <div class="form-group mt-2">
            <input type="submit" name="btn2" value={{valor2}} class="btn btn-warning mb-2">
          </div>
        </form>         
        {{/if}}          
      </ul>
      <ul>  
        {{#if btnrespuesta}}
        <form class="container-fluid d-flex" action="/votoOpcion1" method="POST" id="formvotante">
          <div class="form-group mt-2">
            <input type="submit" name="btn1" value={{valor1}} class="btn btn-danger mb-2">
          </div>
        </form>
      </ul>
      <ul>                   
        <form class="container-fluid d-flex" action="/votoOpcion2" method="POST" id="formvotante">        
          <div class="form-group mt-2">
            <input type="submit" name="btn2" value={{valor2}} class="btn btn-warning mb-2">
          </div>
        </form>
      </ul>
      <ul> 
        <form class="container-fluid d-flex" action="/votoOpcion3" method="POST" id="formvotante">           
          <div class="form-group mt-2">
            <input type="submit" name="btn3" value={{valor3}} class="btn btn-success mb-2">
          </div>
        </form>
      </ul>
      <ul>
        <form class="container-fluid d-flex" action="/votoOpcion4" method="POST" id="formvotante">
          <div class="form-group mt-2">
            <input type="submit" name="btn4" value={{valor4}} class="btn btn-primary mb-2">
          </div>
        </form>
        {{/if}}
      </ul>
    </li>
    
  </div> 
